

body {
    background-color: #ffffff;
    color: #8b7969;
    font-family: 'Inika', serif;
    margin: 0;
}


.header {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e0dfde;
}


.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    position: relative;
    align-items: center;
}


.header__logo {
    font-size: 32px;
    font-weight: normal;
    margin: 0 auto;
}


.header-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}


.header-nav__link {
    display: block;
    padding: 8px 24px;
    color: #d1af93;
    text-decoration: none;
    border: 1px solid #d1af93;
    background-color: #fbfaf9;
    border-radius: 2px;
    font-size: 16px;
    transition: 0.3s;
}