body {
    background-color: #ffffff;
    color: #8b7969;
    font-family: 'Times New Roman', serif;
    margin: 0;
}


.header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #f4f4f4;
}


.main-content {
    padding-top: 50px;
}