

body {
    background-color: #f2ede9 !important;
}


.login__content {
    margin: 0 auto;
    padding: 20px 0 100px;
    max-width: 600px;
}


.login__heading h2 {
    font-size: 24px;
    font-weight: bold;
    color: #8b7969;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Inika', serif;
}


.login-form__inner {
    background-color: #fff;
    padding: 60px 80px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}


.form__group {
    margin-bottom: 25px;
}

.form__group-title {
    margin-bottom: 10px;
}

.form__label-item {
    color: #8b7969;
    font-weight: bold;
}


.form__input-text input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    box-sizing: border-box;
}


.form__button-submit {
    background-color: #8b7969;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 40px auto 0;
}


.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}