.thanks__container {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.thanks__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    color: #f9f9f9;
    font-family: 'Times New Roman', serif;
    white-space: nowrap;
    z-index: 1;
}

.thanks__content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
}

.thanks__text {
    font-size: 30px;
    color: #8b7969;
    font-weight: bold;
    margin-bottom: 40px;
}

.thanks__btn {
    display: inline-block;
    background-color: #8b7969;
    color: #fff;
    text-decoration: none;
    padding: 12px 60px;
    font-size: 14px;
}